iv{
	border: 2px solid red;
}
.section{
	padding: 30px 0; 
}
.head{
	text-align: center;
	font-size: 24px;
	color: grey;
	line-height: 1.5;
	margin-bottom: 60px;
}
.preHead{
	display: block;
}
.mainHead{
	color: #333333;
	font-weight: 900;
	text-transform: uppercase;
}
.form{
	border: 5px solid blue;
	padding: 20px;
}
.form p{
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	color: #333333;
	margin-bottom: 30px;
}
.form button{
	background-color: blue;
	margin-top: 26px;
}
.form input{
	margin-top: 26px;
}
.subHead{
	color: #333333;
	font-weight: 900;
	font-size: 24px;
}
.lButt{
	margin: 30px 0;
}
img{
 display: block;
 margin: 0 auto;
}
.pref{
	font-size: 24px;
	font-weight: 600;
	color: #333333;
}
.imgRow{
	margin-top: 30px;
}
