.head {
  padding: 36px;
}
.head a {
  margin-left: 28px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 11px;
  color: #1d1d1d;
}
.head a:hover {
  color: #10c9c3;
  text-decoration: none;
}
