@charset "UTF-8";
/*Header section */
body {
  font-family: "sansation"; }
  body hr {
    margin: 0px; }

.intro {
  background-image: url(../img/banner.png);
  background-size: cover;
  background-position: 0 -120px; }
  .intro button {
    outline: none; }
    .intro button:hover {
      box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
      transition-duration: 1s; }

.header {
  padding: 20px 30px;
  color: white; }
  .header p {
    display: inline-block;
    font-size: 30px;
    margin: 0; }
    .header p span {
      color: red; }
  .header a {
    font-size: 20px;
    margin-left: 50px;
    color: white;
    transition-duration: 1s; }
    .header a:hover {
      color: #097e89;
      text-decoration: none; }
  .header img {
    padding: 10px;
    border: 1px solid white;
    border-radius: 40px;
    margin: 3px; }
  .header button {
    background-color: transparent;
    border: none;
    padding: 0px;
    border-radius: 40px; }

.media {
  display: inline-block;
  margin: 0 25px; }

.horizon {
  border: none;
  height: 1px;
  color: white;
  background-color: white;
  opacity: 0.3; }

/*Title section */
.titleBlock {
  border: 1px solid white;
  margin: 160px auto;
  color: white;
  width: 650px; }
  .titleBlock h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 20px; }
  .titleBlock p {
    text-align: center;
    font-size: 11px;
    color: #d4d5d6;
    margin-bottom: 50px; }
  .titleBlock button {
    width: 140px;
    height: 45px;
    color: white;
    text-transform: uppercase;
    border: 2px solid white;
    background-color: #4e436f;
    position: absolute;
    left: calc(50% - 70px);
    top: 440px; }

/*About us section */
.aboutUs .container-fluid {
  padding: 0px; }
.aboutUs .write {
  width: 50%;
  height: 430px;
  overflow: hidden;
  float: left; }
  .aboutUs .write img {
    width: 100%;
    margin-top: -200px; }
.aboutUs .info {
  padding: 50px 40px 66px calc(50% + 40px); }
  .aboutUs .info h2 {
    text-transform: uppercase; }
  .aboutUs .info hr {
    color: black;
    background-color: black; }
  .aboutUs .info .short {
    width: 150px; }
  .aboutUs .info p {
    margin-top: 20px; }
  .aboutUs .info button {
    display: block;
    margin: 50px 0;
    padding: 4px 25px;
    border-radius: 5px;
    background-color: #05a0af;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    outline: none; }
    .aboutUs .info button:hover {
      box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
      transition-duration: 1s; }

/*Subtitle */
.subtitleBlock {
  height: 100px;
  background-color: #373737;
  color: white;
  text-align: center;
  text-transform: uppercase; }
  .subtitleBlock h2 {
    margin-top: 30px;
    /*колдовство с линиями в перебивках */ }
  .subtitleBlock hr {
    color: white;
    background-color: white;
    position: relative;
    width: 800px; }
  .subtitleBlock .leftLong {
    top: 60px;
    height: 1px; }
  .subtitleBlock .leftShort {
    width: 150px;
    margin-left: 650px;
    top: 60px;
    height: 2px; }
  .subtitleBlock .rightLong {
    margin-left: calc(100% - 800px);
    top: -22px;
    height: 1px; }
  .subtitleBlock .rightShort {
    width: 150px;
    margin-left: calc(100% - 800px);
    top: -22px;
    height: 2px; }

/*Development block */
.dev {
  background-color: #3d3d3d;
  color: white; }
  .dev .devSector {
    padding: 140px 40px; }
    .dev .devSector img {
      display: block;
      margin: 0 auto; }
    .dev .devSector h3 {
      text-align: center;
      margin-top: 40px; }
    .dev .devSector p {
      text-align: center; }
    .dev .devSector button {
      display: block;
      margin: 50px auto;
      padding: 4px 25px;
      border-radius: 5px;
      background-color: #959595;
      color: white;
      text-transform: uppercase;
      font-size: 14px;
      border: none;
      outline: none; }
    .dev .devSector:hover {
      background-color: #097e89; }

/*Feedback section */
.feed {
  background-color: #3d3d3d;
  color: white;
  padding: 40px 0; }
  .feed p {
    margin-top: 30px;
    text-align: center; }
  .feed hr {
    color: white;
    background-color: white;
    margin: 0 60px; }
  .feed .counter {
    margin-top: 0px; }
  .feed .leftarrow {
    background-color: #3d3d3d;
    border: none;
    outline: none;
    position: relative;
    top: 25px;
    left: 55px; }
  .feed .rightarrow {
    background-color: #3d3d3d;
    border: none;
    outline: none;
    position: relative;
    top: -43px;
    left: 168px; }
  .feed .feedbackSector img {
    display: block;
    margin: 0 auto; }
  .feed .feedbackSector p {
    display: inline;
    position: relative;
    background-color: white;
    color: black; }
  .feed .feedbackSector .numb {
    top: -39px;
    left: 40px;
    padding: 15px; }
  .feed .feedbackSector .name {
    top: -51px;
    left: 47px;
    padding: 3px;
    padding-right: 5px; }
  .feed .feedbackSector .post {
    top: -28px;
    left: -49px;
    padding: 3px; }

/*Subtitle */
.white {
  color: #373737;
  background-color: white; }
  .white hr {
    background-color: #373737;
    color: #373737; }
